{% extends 'base.html' %} {% load static %} {% block content %}

<h2>{{ request.user.username}}'s Followers</h2>
<br />

{% if profiles %} {% for profile in profiles.followed_by.all %}
<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      {% if profile.profile_picture %}
      <img src="{{ profile.profile_picture.url }}" alt="@{{profile.user.username}}'s PFP goes here" width="180"
        height="auto" class="img-fluid rounded-start" />
      {% else %}
      <img src="{% static 'images/default_profile.png' %}" class="img-fluid rounded-start" alt="Profile Image" />
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          {{ profile.user.username }} {% if profile in profiles.follows.all %}
          <a href="{% url 'unfollow' profile.user.id %}">
            <button type="button" class="btn btn-outline-dark" style="
                --bs-btn-padding-y: 0.25rem;
                --bs-btn-padding-x: 0.4rem;
                --bs-btn-font-size: 0.75rem;
                border-radius: 30px;
                float: inline-end;
              ">
              Unfollow
            </button>
          </a>
          {% else %}
          <a href="{% url 'follow' profile.user.id %}">
            <button type="button" class="btn btn-dark" style="
                --bs-btn-padding-y: 0.25rem;
                --bs-btn-padding-x: 0.4rem;
                --bs-btn-font-size: 0.75rem;
                border-radius: 30px;
                float: inline-end;
              ">
              Follow
            </button>
          </a>
          {% endif %}
        </h5>

        <p class="card-text">
          <a href="{% url 'profile' profile.user.id %}">
            @{{ profile.user.username|lower }}
          </a>
        </p>
        <br />
        <p class="card-text">
          <small class="text-body-secondary">Last updated {{ profile.date_modified }}
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
<br />

{% endfor %} {% endif %} {% endblock %}