{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Home
        {% endblock %}
    </title>
</head>

<body>
    {% block content %}

    <div class="timeline__header">
        <h2>Home</h2>
    </div>
    <div class="tweetbox__section">
        <form method="post">
            {% csrf_token %}
            <div class="tweetbox__input__section">
                {% if tweet.user.profile.profile_picture %}
                <img src="{{ tweet.user.profile.profile_picture.url }}" alt="PFP" class="tb__pfp">
                {% else %}
                <img src="{% static 'images/default_profile.jpeg' %}" alt="PFP" class="tb__pfp">
                {% endif %}
                {{ form.as_p }}
            </div>
            <div class="tweet__btn">
                <button type="submit" class="tweetPost">Post</button>
            </div>
        </form>
    </div>

    <!-- Posts section -->
    {% for tweet in tweets %}
    <div class="tweetpost__section">
        <div class="tweet__pfp">
            {% if tweet.user.profile.profile_picture %}
            <img src="{{ tweet.user.profile.profile_picture.url }}" alt="PFP" width="45" height="auto"
                class="rounded-circle">
            {% else %}
            <img src="{% static 'images/default_profile.jpeg' %}" alt="PFP" width="45" height="auto"
                class="rounded-circle">
            {% endif %}
        </div>

        <div class="tweet__body">
            <div class="tweet__header">
                <div class="tweet__headertext">
                    {{ tweet.user.first_name }} 
                    <a href="#" class="tweet__username">
                        @{{ tweet.user.username }}</a> - ({{ tweet.created_at }})
                </div>
                <div class="tweetbody__description">
                    <h4>{{ tweet.body }}</h4>
                </div>
            </div>

            <div class="tweet__actions">
                <div class="action_item">
                    <a href="#">
                        <span class="material-symbols-rounded">comment</span>
                    </a>
                </div>
                <div class="action_item">
                    <a href="#">
                        <span class="material-symbols-rounded repost">repeat</span>
                    </a>
                </div>
                <div class="action_item">
                    {% if user in tweet.likes.all %}
                    <a href="{% url 'tweet_like' tweet.id %}">
                        <span class="material-symbols-rounded liked">favorite</span>
                    </a>
                    {% else %}
                    <a href="{% url 'tweet_like' tweet.id %}">
                        <span class="material-symbols-rounded like">favorite</span>
                    </a>
                    {% endif %}
                    <span class="likes_counter">
                        {{ tweet.number_of_likes }}
                    </span>
                </div>
                <div class="action_item">
                    <a href="#">
                        <span class="material-symbols-rounded">bookmark</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
</body>

</html>