
{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Profile / X
        {% endblock %}
    </title>
</head>

<body>
    {% block content %}
    {% if profile %}
    <!-- Header section starts -->
    <div class="main__container">
        <div class="profile_info__header">
            <div class="header-profile-img">
                {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="PFP" class="header-profile-pic">
                {% else %}
                <img src="{% static 'images/default_profile.jpeg' %}" alt="Default Profile Picture" class="header-profile-pic">
                {% endif %}
            </div>
            <div class="header-displayname-username">
                <span class="header-displayname">
                    {{ profile.user.first_name }}
                    {{ profile.user.last_name }}
                </span>
                <span class="header-username">@{{ profile.user.username }}</span>
            </div>
            {% if request.user.username == profile.user.username %}
            <a href="{% url 'update' %}">
                <button class="edit-profile-btn">Edit profile</button>
            </a>
            {% else %}
            <button class="follow-unfollow-btn">Follow</button>
            {% endif %}
            <div class="followers-counter">
                <a href="#">56m Followers</a>
                &nbsp;
                <a href="#">0 Following</a>
            </div>
            <div class="bio__container">
                <!-- TODO: Add social links as a bio. -->
                <p>Bio lies here</p>
            </div>
        </div>
        <!-- Header section ends -->

        <!-- Tweet box section starts -->
        {% if tweets %}
        {% for tweet in tweets %}
        <div class="tweet-box">
            <div class="tweet-header">
                {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="PFP" class="profile-pic">
                {% else %}
                <img src="{% static 'images/default_profile.jpeg' %}" alt="Default Profile Picture" class="profile-pic">
                {% endif %}
                <div class="tweet-info">
                    <span class="display-name">{{ profile.user.first_name }}</span>
                    <span class="username">@{{ profile.user.username }}</span>
                    <span class="tweet-time">&bull; {{ tweet.created_at }}</span>
                </div>
            </div>
            <div class="tweet-body">
                <p class="plain-tweet">{{ tweet.body }}</p>
            </div>
            <div class="tweet-reactions">
                <div class="action-item">
                    <a href="#">
                        <span class="material-symbols-rounded comment">comment</span>
                    </a>
                </div>
                <div class="action-item">
                    <a href="#">
                        <span class="material-symbols-rounded repost">repeat</span>
                    </a>
                </div>
                <div class="action-item">
                    {% if user in tweet.likes.all %}
                    <a href="{% url 'tweet_like' tweet.id %}">
                        <span class="material-symbols-rounded liked">favorite</span>
                    </a>
                    {% else %}
                    <a href="{% url 'tweet_like' tweet.id %}">
                        <span class="material-symbols-rounded like">favorite</span>
                    </a>
                    {% endif %}
                    <span class="likes-counter">
                        {{ tweet.number_of_likes }}
                    </span>
                </div>
                <div class="action-item">
                    <a href="#">
                        <span class="material-symbols-rounded bookmark">bookmark</span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4>Make your first Tweet & stay updated with your friends!</h4>
        {% endif %}
        <!-- Tweet box section ends -->
    </div>
    {% endif %}
    {% endblock %}
</body>

</html>