<!-- base.html in emergency -->

{% if messages%}
        {% if user.is_authenticated %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% else %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endif %}
        
        {% block content %}
        {% endblock %}

<!-- Emergency base.html ends -->



<!-- home.html -->

<div class="container header__container text-center">
    <h1>Home</h1>
</div>

<div class="container tweet__container">
    <div class="row align-items-start">
        <div class="col-8">
            <br />
            <!-- TextField to post a Tweet -->
            {% if form %}
            <form method=POST>
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-secondary" style="float: inline-end;">Post</button>
            </form>
            {% endif %}
            <br /><br />
        </div>
    </div>
</div>

<!-- You see all Tweets posted by other users here -->
<div class="container text-center tweet__container">
    <div class="row">
        <div class="col-8">
            {% for tweet in tweets %}
            <div class="alert alert-dark" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1">
                            <!-- User Profile Picture, Tweet body, Likes, Comment & Bookmarks -->
                            {% if tweet.user.profile.profile_picture %}
                            <img src="{{ tweet.user.profile.profile_picture.url }}" alt="PFP" width="50"
                                height="auto" class="rounded-circle">
                            {% else %}
                            <img src="{% static 'images/default_profile.png' %}" alt="PFP" width="50" height="auto"
                                class="rounded-circle">
                            {% endif %}
                        </div>
                        <div class="col-sm-10">
                            {{ tweet.body }} <br />
                            <small class="text-muted">
                                ({{ tweet.created_at }}) By
                                <a href="{% url 'profile' tweet.user.profile.id %}">@{{tweet.user.username}}</a>
                                -
                                {% if user in tweet.likes.all %}
                                <a href="{% url 'tweet_like' tweet.id %}">
                                    <i class="bi bi-heart-fill"
                                        style="color: crimson; -webkit-text-stroke: 1px;"></i></a>
                                {% else %}
                                <a href="{% url 'tweet_like' tweet.id %}">
                                    <i class="bi bi-heart"
                                        style="color: crimson; -webkit-text-stroke: 1px;"></i></a>
                                {% endif %}
                                {{ tweet.number_of_likes }}
                                &nbsp;
                                <a href="{% url 'tweet_comment' tweet.pk %}">
                                    <i class="bi bi-chat-text" style="color: black;"></i></a>
                                &nbsp;
                                <a href="{% url 'tweet_share' tweet.id %}">
                                    <i class="bi bi-share" style="color: black;"></i></a>
                                &nbsp;
                                {% if user in tweet.bookmarks.all %}
                                <a href="{% url 'save_bookmark' tweet.id %}">
                                    <i class="bi bi-bookmark-fill" style="color: #756f6f;"></i></a>
                                {% else %}
                                <a href="{% url 'save_bookmark' tweet.id %}">
                                    <i class="bi bi-bookmark" style="color: #756f6f;"></i></a>
                                {% endif %}
                                {{ tweet.number_of_bookmarks }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            {% endfor %}
        </div>
    </div>
</div>

<!-- home.html ends -->