{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block content %}
    

<br/>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="alert alert-dark" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-1">
                                {% if tweet.user.profile.profile_picture %}
                                <img src="{{ tweet.user.profile.profile_picture.url }}" alt="PFP" width="50"
                                    height="auto" class="rounded-circle">
                                {% else %}
                                <img src="{% static 'images/default_profile.png' %}" alt="PFP" width="50" height="auto"
                                    class="rounded-circle">
                                {% endif %}
                            </div>
                            <div class="col-sm-10">
                                {{ tweet.body }} <br />
                                <small class="text-muted">
                                    ({{ tweet.created_at }}) By
                                    <a href="{% url 'profile' tweet.user.profile.id %}">@{{tweet.user.username}}</a>
                                    - {{ tweet.number_of_likes }} Likes -
                                    {% if user in tweet.likes.all %}
                                    <a href="{% url 'tweet_like' tweet.id %}">
                                        <i class="bi bi-heart-fill"
                                            style="color: crimson; -webkit-text-stroke: 1px;"></i>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'tweet_like' tweet.id %}">
                                        <i class="bi bi-heart" style="color: crimson; -webkit-text-stroke: 1px;"></i>
                                    </a>
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>